export function getDefine(env: Record<string, string | boolean>) {
  return Object.entries(env).reduce<Record<string, string>>(
    (acc, [key, value]) => {
      acc[`import.meta.env.${key}`] = JSON.stringify(value)
      return acc
    },
    {},
  )
}
